.container{
    display: flex;
    overflow: hidden;
}

.sidenav{
    width: 300px;
    min-width: 300px;
    background-color:  #121212;
    display: flex;
    flex-direction: column;
    height: 100vh;
    gap: 20px;
    overflow: hidden;
    padding: 30px 10px;
}

.sidenav button{
    background-color: #00bfa6;
    padding: 15px 20px;
    text-align: left;
    cursor: pointer;
}

.sidenav button:hover {
    background-color: #008b7a; 
}

.sidenav button:active {
    background-color: #007060; 
}

.content{  
    max-height: 100vh; /* Or any other height you prefer */
    overflow-y: auto; 
    scrollbar-width:none;
    background-color: #fff;
    background: transparent; 
}